/* form style */
@utility form-input {
  @apply w-full rounded-none border border-white/20 bg-transparent p-4 transition placeholder:text-white placeholder:opacity-40 focus:border-white focus:ring-white focus:ring-0 text-text-light;

  &:focus {
    @apply shadow-transparent! outline-transparent! ring-transparent!;
  }
}

@utility form-label {
  @apply mb-2 block font-normal text-text-light text-base;
}
